header {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.logo-title {
    font-family: 'Montez', cursive;
    font-size: 38px;
    color: blue;   
    margin-left: 8px;

}

.subheading{
    font-family: 'Ubuntu Mono', monospace;
    margin: 0 0 0 10px;
}

.top-buttons {
    width: 100px;
    padding: 10px;
    font-size: 90%;
    background: #0000ff;
    color: #fff;
    float: right;                   
    margin: 0 10px 0px 4px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-color: #dddddd;
    border-width: 3px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.modal-header {
    color: #757575;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.modal-close {
    float: right;
    cursor: pointer;
}   

.fa-times {
    -webkit-text-stroke: 1px white;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin: 8px 0 2px 0;
    border: none;
    border-bottom: 1.5px solid grey;
}

form {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    padding: 12px 10px;
    border: none;
    background: #f1f1f1;
    margin-bottom: 10px;
}

input:focus {
    border: .5px solid #4f8afb;
    box-shadow: 0 0 1.5px #4691cf;
    outline-offset: 0px;
    outline: none;
}

label {
    padding: 10px 0 10px 0;
    color: #1b1b1b;
}

.modal-button {
    background-color: green;
    color: white;
    font-size: 15px;
    margin-top: 17px;
    margin-bottom: 8px;
    border: none;
    padding: 12px 20px;
    width: 100%;
    opacity: 0.6;
}

h5 {
    text-align: center;
    margin: 11px 0 1px 0;
}

a {
    text-decoration: none;
}

.modal-content input:required {
    box-shadow: none;
}

.modal-content input:invalid {
    box-shadow: none;
}

@media only screen and (max-width:430px) {
    header {
        padding-top: 6px;
    }
    
    .logo-title {
        font-size: 33px;
    }
    
    .subheading{
        font-size: 14px;
    }
    
    .top-buttons {
        width: 80px;
        border-width: 2px;
        margin: 0 10px 0px 0;
        padding: 8px;
        font-size: 80%;
    }
}

@media only screen and (max-width:357px) {
    .logo-title {
        font-size: 31px;
    }
    
    .subheading{
        font-size: 13px;
    }
    
    .top-buttons {
        width: 70px;
        border-width: 2px;
        margin: 0 6px 0px 0;
        padding: 6px;
    }
}

@media only screen and (max-width:305px) {
    .logo-title {
        font-size: 26px;
    }
    
    .subheading{
        font-size: 11px;
    }
    
    .top-buttons {
        width: 65px;
        border-width: 2px;
        font-size: 65%;
    }
}

@media only screen and (max-width:318px) {
    .logo-title {
        font-size: 22px;
    }
    
    .subheading{
        font-size: 9px;
    }
    .top-buttons {
        width: 55px;
        border-width: 1px;
        font-size: 55%;
    }
}